*.a
*.annot
*.beam
*.cm[ioxat]
*.cmti
*.cmx[as]
*.dll
*.exe
*.exe.manifest
*.la
*.lib
*.o
*.obj
*.odoc
*.out
*.out.dSYM
*.so
*.swp
*.tar.gz
*.tbz
.DS_Store
.merlin
_build
_ocamltest
_ocamltestd
_release
manual/book
